{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container py-5">
    <h1>About Us</h1>
    <p class="lead">Welcome to our restaurant! We serve fresh, delicious meals with love and care.</p>
    <p>Our menu is crafted with passion, and we’re proud to offer a range of dishes to suit every taste.</p>
    <p>
    Welcome to our restaurant menu platform—a site currently under development to showcase our full digital dining experience.
    This platform is designed to provide users with easy access to our curated selection of meals, including detailed descriptions,
    pricing, and availability. While this is a developmental version, it reflects the core functionality and layout of the final product.
    Stay tuned for future updates as we enhance features, add more content, and refine the design.
</p>
    <img src="{% static 'images/about_us_1.jpeg' %}"  style="width: 300px; height: 300px; object-fit: cover;">
</div>
{% endblock content %}